@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700;800&display=swap');

body {
  margin: 0;
  padding:0;
  font-family: 'Poppins', sans-serif;
}

.heading-title{
  font-weight: bold;
}

.hero{
  height:400px;
  width: auto;
}
.heading-title-one{
  font-weight: bold;
  margin-top: 120px;
}

.button-row{
  margin-top: -100px;
}
.bt{
  background: #F2B81A;
  color: #fdfdfd;
  min-height: 40px;
  width: 124px;
  margin: 0;
  border-radius: 5px;
  border: 0;
  line-height: 40px;
  text-align: center;
  margin: .5em 0 .5em 0;
  box-shadow: 2px 2px 10px #f2b81a;

}

a.bt{
  display: inline;
  padding: 7px 10px 7px 10px;
}

.bt:hover{
  background: #F2B81A;
}

.bt2{
  background: #6aa4c4;
  color: #fdfdfd;
  min-height: 40px;
  width: 124px;
  margin: 0;
  border-radius: 5px;
  border: 0;
  line-height: 40px;
  text-align: center;
  margin: .5em 0 .5em 0;
  box-shadow: 2px 2px 10px #6aa4c4;

}

a.bt2{
  display: inline;
  padding: 7px 10px 7px 10px;
}

.bt2:hover{
  background: #6aa4c4;
}

.card-outer-layout{
  height: 400px;
  border-radius: 8px !important;
}
.card-outer-layout-login{
  height: 300px;
  position: absolute;
  border-radius: 8px !important;
}

.card-layout{
  height: 530px;
  width: 500px;
  margin-top: -130px;
  margin-left: 50px !important;
  border-radius: 10px !important;
  
}
.card-layout-login{
  height: 430px;
  width: 500px;
  margin-top: -130px;
  margin-left: 50px !important;
  border-radius: 10px !important;
  
}


.signup-heroimg{
  margin-top: 30px;
  margin-left: 10px;
}

.login-heroimg{
  margin-left: 10px;
   margin-top: -10px;
}

.login-heroimg img{
   height:400px;
   width:400px;
}

.signup-heroimg img{
  height: 400px;
  margin-top: 20px;

}

.card-layout-body{
  border-radius: 5px !important;
}

.card-layout-body-login{
  border-radius: 5px !important;
}

.row-margin{
  margin-top: 30px !important;
}
.row-margin-login{
  margin-top: 20px !important;
}

.bt-login{
  background: #6aa4c4;
  color: #fdfdfd;
  min-height: 40px;
  width: 124px;
  margin: 0;
  border-radius: 5px;
  border: 0;
  line-height: 40px;
  text-align: center;
  margin: .5em 0 .5em 0;
  box-shadow: 2px 2px 10px #6aa4c4;

}

a.bt-login{
  display: inline;
  padding: 7px 10px 7px 10px;
}

.bt:hover{
  background: #F2B81A;
}
.card-border{
  border-radius: 15px !important;
  box-shadow: 1px 2px 10px #F2B81A;
}
@media only screen and (max-width:768px) { 
  .bt {
    width: 100%;
  }
  
  a.bt{
    display: block;
    padding: 0;
  }
  .bt2 {
    width: 100%;
  }
  
  a.bt2{
    display: block;
    padding: 0;
  }
}


.profile-card{
  border-radius: 10px !important;
  box-shadow: 1px 3px 10px #6aa4c4;
  background-color: #6aa4c4 !important;
  color:#fff
}
@media screen and (min-width:1px) and (max-width:768px){

  .hero{
    height:300px;
    width: auto;
    margin-top: -500px;
    position: absolute;
  }
  .heading-title-one{
    font-weight: bold;
    margin-top: 350px;
  }
  .button-row{
    display: inline;
    margin-top: 10px !important;
   
  }
  .buttonone{
    display: inline;
  }
  .card-outer-layout{
    height: 460px;
  }

  .signup-heroimg{
    display: none;
  }
  .card-layout{
   display: none !important;
    
  }
  .row-margin{
    margin-top: 10px !important;
  }
 
}